{% extends 'users/layout.html' %}

{% block body %}

<div class="add-bill-form" style="display:none;">
    <div class="add-bill-form-big-item">
        <h5>Name</h5>
        <input class="create-bill" type="text" id="input-bill-name" name="name">
    </div>
    <div class="add-bill-form-item">
        <h5>Type</h5>
        <select class="create-bill" id="input-bill-type" name="comment">
            <option value="Food">Food</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Health and Beauty">Health and Beauty</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="add-bill-form-item">
        <h5>Date</h5>
        <input class="create-bill" type="date" id="input-bill-date" name="date">
    </div>
    <div class="add-bill-form-item">
        <h5>Payer</h5>
        <select class="create-bill" id="input-bill-payer" name="lender">
            <option value="{{ acc_user.id }}">{{ acc_user.first_name }}</option>
            {% for user in other_users %}
            <option value="{{ user.id }}">{{ user.first_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="add-bill-form-item">
        <div class="add-bill-form-btn">
            <h5 id="cancel-bill-btn">Cancel</h5>
        </div>
    </div>
    <div class="add-bill-form-middle-item">
        <div class="add-bill-form-btn">
            <button type="submit" id="add-bill-btn">Create bill</button>
        </div>
    </div>
</div>

<div class="mainBox">
    <div class="billBox" style="display: none;">
        <div class="billBox-backBtn">
            <i class="arrow left"></i>
            <h5 class="bold lightColorText" id="billBox-backBtn">Back</h5>
        </div>
        <div class="billBox-header">
            <h4 name="id" style="display: none;"></h4>
            <h4 name="name" class="bold"></h4>
        </div>
        <div class="billBox-paymentsBox">
            <div class="billBox-paymentsBox-row">
                <div class="billBox-paymentsBox-row-name">
                    <h5></h5>
                    <h5></h5>
                </div>
                <div class="billBox-paymentsBox-row-amount">
                    <h6 class="lightColorText"></h6>
                    <h6 class="lightColorText"></h6>
                </div>
            </div>
        </div>
        <div class="billBox-btnBox">
            <button id="billBox-editBtn">Edit</button>
        </div>
    </div>

    <div class="totalBox">
        <h2>Account net</h2>
        <div class="totalBox-row" style="display: none;">
            <div class="totalBox-row-nameAndAmount">
                <div class="totalBox-row-nameAndAmount-name">
                    <h4 name="payerId" style="display: none;"></h4>
                    <h4 name="payerName"></h4>
                </div>
                <div class="totalBox-row-NameAndAmount-amount">
                    <h4></h4>
                </div>
            </div>
            <div class="totalBox-row-btns">
                <h5 class="totalBox-row-btns-showBills bold">Show bills</h5>
                <h5 class="totalBox-row-btns-showBills bold" style="display: none;">Hide bills</h5>
                <button class="totalBox-row-btns-pay"></button>
            </div>
        </div>
    </div>
</div>


{% endblock %}