{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/account.css' %}">
    <link rel="icon" type="image/png" href="{% static '/images/logo.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Users</title>
</head>

<body>
    <div id="page-container">
        <header>
            <div class="header-menu">
                <div class="header-menu-item-current">
                    <a href="{% url 'users:index' %}">
                        Home
                    </a>
                </div>
                <div class="header-menu-item">
                    <a href= "{% url 'bills:index' %}">
                        Bills
                    </a>
                </div>
            </div>
            <div class="header-right-menu">
                <div class="header-right-menu-add-bill-box">+$</div>
                <div class="header-right-menu-user-box">
                    {{ first_name_first_letter }}{{ last_name_first_letter }}
                </div>
            </div>
        </header>
        <div class="account-popup-window" style="display:none;">
            <div class="account-popup-window-textbox">
                <h5 class="bold">{{ user.first_name }} {{ user.last_name }}</h5>
                <h6>{{ user.email }}</h6>
            </div>
            <a href="{% url 'users:logout' %}" style="text-decoration: none;">
                <div class="account-popup-window-signountbox">
                    <h6>Sign out</h6>
                </div>
            </a>
        </div>
        <div id="content-wrap">
            {% block body %}
            {% endblock %}
        </div>
        <footer id="footer">
            Если сайт не работает, звоните Владимиру: +7 985 455-24-65
        </footer>
    </div>
    <script src="{% static '/js/account.js' %}"></script>
</body>

</html>